<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul th:fragment="nav" class="sidebar-nav" id="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/empresa/inici'} ? '' : collapsed" href="/empresa/inici">
                        <i class="fa-solid fa-house"></i>
                        <span>Inici</span>
                    </a>
                </li>    
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/empresa/crearoferta'} ? '' : collapsed" href="/empresa/crearoferta">
                    <i class="fa-solid fa-briefcase"></i>
                    <span>Crear Oferta</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/empresa/crearIncidencia'} ? '' : collapsed" href="/empresa/crearIncidencia">
                    <i class="fa-solid fa-bug"></i>
                    <span>Crear incidència</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                        <input hidden type="submit" value="Sign Out"/>
                    </form>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Tancar Sessió</span>
                </a>
            </li>
        </ul>
    </body>
</html>

