<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <form th:action="@{/registraroferta}" method="post" th:object="${oferta}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="empresa" th:field="${oferta.empresa}"/>
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="fechaPeticion" th:field="${oferta.fechaPeticion}"/>
            <table style="margin: 0 auto;">
                <div class="container">
                    <tr>
                        <th>
                            <label for="uname"><b>Titol de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" name="titulo" th:field="*{tituloOferta}" placeholder="Introdueix el titol de l'Oferta" style="width:75%" required>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Descripció de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <textarea rows="10" cols="50" name="descripcionOferta" th:field="*{descripcionOferta}" placeholder="Introdueix la descripció de l'Oferta"></textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Requisits de l'Alumne</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <textarea rows="10" cols="50" name="requisitos" th:field="*{requisitosAlumno}" placeholder="Introdueix els Requisits de l'Alumne"></textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>S'Ofereix</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <textarea rows="10" cols="50" name="ofrece" th:field="*{seOfrece}" placeholder="Introdueix lo que ofereix l'empresa"></textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Tens un PDF amb la informació de la oferta?</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" name="boton" value="subirpdf">Pujar PDF</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" name="boton" value="registrar">Registrar Oferta</button>
                        </th>
                    </tr>
                </div>
            </table>
        </form>
    </body>
</html>