<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
    <h3>Dades Empresa</h3>
        <form method="post" th:action="@{/empresa/guardarcambios}" th:object="${empresa}">
          <input type="hidden" name="id" th:field="${empresa.id}"/>
          <input type="hidden" name="correo" th:field="${empresa.correoContacto}"/>
          <div>
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" th:field="${empresa.direccion}" name="direccion"/>
          </div>
          <div>
            <label for="codigo_postal">Código Postal:</label>
            <input type="text" id="codigo_postal"  th:field="${empresa.codPostal}" name="codigo_postal"/>
          </div>
          <div>
            <label for="nombre">Nombre Empresa:</label>
            <input type="text" id="nombre" th:field="${empresa.nombreEmpresa}" name="nombre"/>
          </div>
          <div>
            <label for="descripcion">Descripción Empresa:</label>
            <textarea id="descripcion" th:field="${empresa.descripcionEmpresa}" name="descripcion"></textarea>
          </div>
          <div>
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena">
          </div>
          <div>
            <label for="repite_contrasena">Repite la contraseña:</label>
            <input type="password" th:value="${contrasenyaRepetida}" id="repite_contrasena" name="repite_contrasena"/>
          </div>
          <div>
            <label for="municipi">Municipio:</label>
            <input type="text" id="municipi"  th:field="${empresa.municipio}"  name="municipi"/>
          </div>
          <div>
            <label for="mobil">Móvil:</label>
            <input type="tel" id="mobil"  th:field="${empresa.movilEmpresa}" name="mobil"/>
          </div>
          <div>
            <label for="web_empresa">Web Empresa:</label>
            <input type="url" id="web_empresa" th:field="${empresa.webEmpresa}" name="web_empresa">
          </div>
            <h3>Dades Responsable</h3>
          <div>
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom"  th:field="${empresa.nombre}" >
          </div>
          <div>
            <label for="cognoms">Cognoms:</label>
            <input type="text" id="cognoms" name="cognoms"  th:field="${empresa.apellidos}" >
          </div>
          <div>
            <label for="mobil">Mòbil de contacte:</label>
            <input type="tel" th:field="${empresa.movil}" id="mobil" name="mobil">
          </div>
          <div>
              <button class="boton" type="submit" name="editar" value="Editar Perfil">Editar Perfil</button>
          </div>
        </form>
    </body>
</html>