<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <form method="post" action="">
            <table style="margin: 0 auto;">
                <div class="container">
                    <tr>
                        <th>
                            <label for="uname"><b>Titol de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" placeholder="Introdueix el titol de l'Oferta" style="width:75%" name="uname" required>
				Programador ENTTIA
			    </input>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Descripció de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<textarea name="textarea" rows="10" cols="50" placeholder="Introdueix la descripció de l'Oferta">
			    Enginyeria amb una naturalesa de negoci relacionada amb les 
			    tecnologies de la informació i especialitzada en projectes de seguretat
			    i identificació de persones cerca programador per a desenvolupar aplicacions amb
			    .Net, WEB i SQL.			
				</textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Requisits de l'Alumne</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<textarea name="textarea" rows="10" cols="50" placeholder="Introdueix els Requisits de l'Alumne">
				Flexibilita i gestio del canvi
				treball en equip i cooperació
				.Net(desitjable C#)
				Desenvolupament web(HTML, CSS y Javascript)
				Base de dades SQL (Principalment SQL Server)
				Desitjable coneixements de frameworks web basats en components(React per exemple)
				Administracio de sistemes i/o nuvol.


				</textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>S'Ofereix</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<textarea name="textarea" rows="10" cols="50" placeholder="Introdueix lo que ofereix l'empresa">
				S'informarà en l'entrevista
				
				</textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Tens un PDF amb la informació de la oferta?</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Pujar PDF</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Guardar Canvis</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Esborrar Oferta</button>
                        </th>
                    </tr>

                </div>

            </table>
        </form>

    </body>
</html>