<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <form method="post" th:action="@{/manejaroferta}" th:object="${oferta}">
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="fechaPeticion" th:field="*{fechaPeticion}"/>
            <table style="margin: 0 auto;">
                <div class="container">
                    <tr>
                        <th>
                            <label for="uname"><b>Titol de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <textarea th:field="*{tituloOferta}" name="uname" required>
			    </textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Descripció de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<textarea name="textarea" rows="10" cols="50" th:field="*{descripcionOferta}" placeholder="Introdueix la descripció de l'Oferta">		
				</textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Requisits de l'Alumne</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<textarea name="textarea" rows="10" cols="50" th:field="*{requisitosAlumno}" placeholder="Introdueix els Requisits de l'Alumne">
				</textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>S'Ofereix</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<textarea rows="10" cols="50" th:field="*{seOfrece}"  placeholder="Introdueix lo que ofereix l'empresa">
				
				
				</textarea>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Tens un PDF amb la informació de la oferta?</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Pujar PDF</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" name="boton" value="guardar">Guardar Canvis</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" name="boton" value="borrar">Esborrar Oferta</button>
                        </th>
                    </tr>

                </div>

            </table>
        </form>

    </body>
</html>