<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
    <h3>Dades Empresa</h3>
<form>
  <div>
    <label for="direccion">Dirección:</label>
    <input type="text" id="direccion" name="direccion">
  </div>
  <div>
    <label for="codigo_postal">Código Postal:</label>
    <input type="text" id="codigo_postal" name="codigo_postal">
  </div>
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
  </div>
  <div>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion"></textarea>
  </div>
  <div>
    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena">
  </div>
  <div>
    <label for="repite_contrasena">Repite la contraseña:</label>
    <input type="password" id="repite_contrasena" name="repite_contrasena">
  </div>
  <div>
    <label for="municipi">Municipio:</label>
    <input type="text" id="municipi" name="municipi">
  </div>
  <div>
    <label for="mobil">Móvil:</label>
    <input type="tel" id="mobil" name="mobil">
  </div>
  <div>
    <label for="web_empresa">Web Empresa:</label>
    <input type="url" id="web_empresa" name="web_empresa">
  </div>
</form>
    <h3>Dades Responsable</h3>
<form>
  <div>
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom">
  </div>
  <div>
    <label for="cognoms">Cognoms:</label>
    <input type="text" id="cognoms" name="cognoms">
  </div>
  <div>
    <label for="mobil">Mòbil de contacte:</label>
    <input type="tel" id="mobil" name="mobil">
  </div>
  <div>
    <input type="submit" value="Editar Perfil">
  </div>
</form>
    </body>
</html>