<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
	<div class="search-container">
		<input type="text" placeholder="Buscar...">
	</div>
		<div class="dropdown">
		<button class="dropdown-btn">Data Publicació<i class="fas fa-chevron-down"></i><button>
			<div class="dropdown-content">
				<a href="#">A-Z</a>
				<a href="#">Opcion 2</a>
				<a href="#">Opcion 3</a>
				<a href="#">Opcion 4</a>
			</div>
		</div>

	<div>
		<strong> Tecnico/a de manteniment<strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>        
	<div>
		<strong> Tecnico/a de manteniment<strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment<strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment<strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment<strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment<strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     


    </body>
</html>