<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
	<div class="search-container">
		<input type="text" placeholder="Buscar...">
	</div>
                    <div>
                        <label for="ordenar">Ordenar:</label>
                        <select id="ordenar" name="ordenar">
                            <option value="a-z">A-Z</option>
                            <option value="dataPublicacio">Data Publicació</option>
                            <option value="altre">Altre</option>
                            <option value="no-dir-ho">Prefereixo no dir-ho</option>
                        </select>
                    </div>

	<div>
		<strong> Tecnico/a de manteniment</strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
                <button>Mes informació</button>
	</div>        
	<div>
		<strong> Tecnico/a de manteniment</strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment</strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment</strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment</strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     
	<div>
		<strong> Tecnico/a de manteniment</strong>
		<p>El lloc a cobrir és tecnic de manteniment d'equips electronics i informatics, tant correctiu com preventiu</p>
		<strong>Terrassa</strong>
		<strong>Vallesyr s.l</strong>
		<button>Mes informació</button>
	</div>     


    </body>
</html>