<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <div>
            <form method="post" th:action="@{/empresa/buscaroferta}">
                <label for="ordenar">Ordenar:</label>
                <input type="text" placeholder="Buscar..." id="buscar" name="buscar" th:value="${buscar}">
                <select id="ordenar" name="ordenar">
                    <option value="alfabetico">A-Z</option>
                    <option value="dataPublicacio">Data Publicació</option>
                    <option value="numeroCandidatos">Numero Candidatos</option>
                    <option value="ofertasActivas">Ofertas Activas</option>
                    <option value="ofertasPublicadas">Ofertas publicadas</option>
                </select>
                <button type="submit"></button>
            </form>
        </div>
        <div th:each="oferta : ${ofertas}">
            <h2 th:text="${oferta.tituloOferta}">Seccion 1</h2>
            <p th:text="${oferta.descripcionOferta}">Descripción de la sección 1.</p>
                <div>
                    <p th:text="${oferta.empresa.nombreEmpresa}"></p>
                    <p th:text="${oferta.empresa.municipio}"></p>
                </div>
            <a th:href="@{/empresa/veureoferta/}+${oferta.id}">Mes informació</a>
        </div>        
</body>
</html>