<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>Alumnes</h1>

        <div class="container verempresa">
            <div class="row justify-content-center w-100">
                <div class="col-lg-12 card p-4 mx-lg-5 my-3 alumnoCard" th:each="alumno : ${alumnos}">
                    <h5 class="align-self-center" th:text="${alumno.nombre} + ' ' + ${alumno.apellidos}"></h5>
                    <h5 class="align-self-center" th:text="${alumno.username}"></h5>
                </div>
            </div>
        </div>
    </body>
</html>
