<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <form method="post" action="">
	<div>
            <table style="margin: 0 auto;">
                <tr>
                    <th>
                        <strong><h1>Institut Nicolau Copernic</h1></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><h3>Centre Educatiu</h3></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><h3>Contacte</h3></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><p>Avenida Cervantes, 31</p></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><p>08225</p></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><p>Barcelona</p></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><p>JohnDoe@gmail.com</p></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><p>www.insnicolaucopernic.cat/</p></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><p>+34 655719719</p></strong>
                    </th>
                </tr>
                    <tr>
                        <th>
                            <button type="submit">Editar Perfil</button>
                        </th>
                    </tr>
            </table>

	<table style="margin: 0 auto;">
                <tr>
                    <th>
                        <strong><h1>Responsable</h1></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><span>Nom: </span><span>John</span></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><span>Cognoms: </span><span>Doe</span></strong>
                    </th>
                </tr>
                <tr>
                    <th>
                        <strong><span>Telèfon de Contacte: </span><span>655719719</span></strong>
                    </th>
                </tr>

	</table>
	</div>
        </form>

    </body>
</html>