<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <form method="post" action="">
            <table style="margin: 0 auto;">
                <div class="container" th:each="oferta : ${ofertas}">
                    <tr>
                        <th>
                            <h1 th:text="${oferta.tituloOferta}">
				
			    </h1>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Descripció de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<p th:text="${oferta.descripcionOferta}">
				</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Requisits de l'Alumne</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<p th:text="${oferta.requisitosAlumno}">
				</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>S'Ofereix</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<p th:text="${oferta.seOfrece}">
				</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p><span>Alumnes Inscrits: </span><span>10</span></p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Veure Alumnes</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <a th:href="@{/editaroferta/} + ${oferta.id}">Editar Oferta</a>
                        </th>
                    </tr>
                </div>

            </table>
        </form>

    </body>
</html>