<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <form method="post" action="">
            <table style="margin: 0 auto;">
                <div class="container">
                    <tr>
                        <th>
                            <h1>
				Programador ENTTIA
			    </h1>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Descripció de l'oferta</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<p>
			    Enginyeria amb una naturalesa de negoci relacionada amb les 
			    tecnologies de la informació i especialitzada en projectes de seguretat
			    i identificació de persones cerca programador per a desenvolupar aplicacions amb
			    .Net, WEB i SQL.			
				</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>Requisits de l'Alumne</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<p>
				Flexibilita i gestio del canvi
				treball en equip i cooperació
				.Net(desitjable C#)
				Desenvolupament web(HTML, CSS y Javascript)
				Base de dades SQL (Principalment SQL Server)
				Desitjable coneixements de frameworks web basats en components(React per exemple)
				Administracio de sistemes i/o nuvol.


				</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="uname"><b>S'Ofereix</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
				<p>
				S'informarà en l'entrevista
				
				</p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p><span>Alumnes Inscrits: </span><span>10</span></p>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Veure Alumnes</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Editar Oferta</button>
                        </th>
                    </tr>
                </div>

            </table>
        </form>

    </body>
</html>