<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:if="${titulo != null}" th:text="${titulo}"></title>
    </head>
    <body>
        <header>
            <img th:src="@{images/logoCopernicJobs.png}" alt="Logo de la aplicación">

            <div class="user-profile">
                <img th:if="${usuario != null && usuario.avatarLink != null}" th:src="${usuario.avatarLink}">
                <p th:if="${usuario != null && usuario.username != null}" th:text="${usuario.username}"></p>
            </div>
        </header>
        <nav>
            <div th:insert="@{${rutaNav}+${archivoNav}} :: nav">
                <!-- Nav Dinamico -->
            </div>
        </nav>
        <main>
            <div th:insert="@{${rutaContenido}+${archivoContenido}}">
                <!-- Contenedor vacío para añadir más contenido dinámicamente -->
            </div>
        </main>
        <footer>
            <div class="izquierda">
                <p>[[#{plantilla.footer.direccion}]]</p>
                <p>[[#{plantilla.footer.creadorpor}]]</p>
                <p>[[#{plantilla.footer.copyright}]]</p>
            </div>
            <div class="derecha">
                <img th:src="@{images/NicolauLogo.png}" alt="Logo de la aplicación">
            </div>
        </footer>
    </body>
</html>

