<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dades Personals</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/guardarAdministrador}" method="post" th:object="${administrador}">

            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="contrasenya" th:field="*{contrasenya}"/>
            <input type="hidden" name="fechaRegistro" th:field="*{fechaRegistro}"/>
            <p>
                <label for="nombre">Nom:</label>
                <input type="text" name="nombre" th:field="*{nombre}">
            </p>

            <p>
                <label for="apellido">Cognoms:</label>
                <input type="text" name="apellido" th:field="*{apellido}">
            </p>

            <p>
                <label for="correo">Correu:</label>
                <input type="text" name="correo" th:field="*{correo}">
            </p>

            <button type="submit" name="enviar" value="Enviar Dades">Guardar Canvis</button> 
            <button>Cancelar</button>
        </form>
    </body>
</html>
