<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <form th:action="@{/guardarOferta}" method="post" th:object="${oferta}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{fechaPeticion}"/>
                <div>
                    <h2>Títol</h2>
                    <input type="text" id="nom" th:field="*{tituloOferta}" placeholder="${oferta.tituloOferta}"><br>
                </div>
                <div>
                    <h2>Descripció</h2>
                    <textarea name="textarea" rows="10" cols="50" th:field="*{descripcionOferta}" th:placeholder="${oferta.descripcionOferta}">
                    </textarea>
                </div>
                <div>
                    <h2>Requisits</h2>
                    <textarea name="requisitos" rows="10" cols="50" th:field="*{requisitosAlumno}" th:placeholder="${oferta.requisitosAlumno}">
                    </textarea>
                </div>
                <div>
                    <h2>S'ofereix</h2>
                    <textarea name="seOfrece" rows="10" cols="50" th:field="*{seOfrece}" th:placeholder="${oferta.seOfrece}">
                    </textarea>
                </div>
                <div>
                    <h2>Tens un PDF amb la informació de la oferta?</h2>
                    <text>Navega i escull els fitxers que vols pujar des del teu ordinador</text>
                    <button>+</button>
                </div>

                <div th:if="${errores} OR ${erroresBinding}">
                    <ul>
                        <li th:each="err : ${errores}" th:text="${err}" />
                        <li th:each="err2 : ${erroresBinding}" th:text="${err2}" />
                    </ul>
                </div>

                <button type="submit" name="boton" value="borrar">Esborrar Oferta</button>
                <button type="submit" name="boton" value="guardar">Guardar Canvis</button>
            </form>
        </main>
    </body>
</html>
