<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Dades de l'Empresa</title>
    </head>
    <body>
        <h1>Dades de l'Empresa</h1>

        <form th:action="@{/guardarEmpresa}" method="post" th:object="${empresa}">
            <div id="empresa">
                <h2>Dades Empresa</h2>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{fechaRegistro}"/>
                <input type="hidden" th:field="*{password}"/>
                <label for="nombre">Nom:</label>
                <input type="text" id="nombre" th:field="*{nombreEmpresa}"><br>

                <label for="descripcion">Descripció:</label>
                <input type="text" id="descripcion" th:field="*{descripcionEmpresa}"><br>

                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{username}"><br>

                <label for="direccio">Direcció:</label>
                <input type="text" id="direccio" th:field="*{direccion}"><br>

                <label for="codi_postal">Codi Postal:</label>
                <input type="text" id="codi_postal" th:field="*{codPostal}"><br>

                <label for="municipi">Municipi:</label>
                <input type="text" id="municipi" th:field="*{municipio}"><br>

                <label for="mobil">Mòbil:</label>
                <input type="tel" id="mobil" th:field="*{movil}"><br>

                <label for="web">Web Empresa:</label>
                <input type="text" id="web" th:field="*{webEmpresa}"><br>
            </div>

            <div>
                <h2>Dades Responsable</h2>
                <label for="nom_resp">Nom:</label>
                <input type="text" id="nom_resp" th:field="*{nombre}"><br>

                <label for="cognoms_resp">Cognoms:</label>
                <input type="text" id="cognoms_resp" th:field="*{apellidos}"><br>

                <label for="correo_resp">Correo de contacte:</label>
                <input type="text" id="correo_resp" th:field="*{correoContacto}"><br>

                <label for="genere">Gènere:</label>
                <select th:field="*{sexo}" id="genere" name="genere">
                    <option th:selected="${empresa.sexoDesc == 'Home'}" value="1">Home</option>
                    <option th:selected="${empresa.sexoDesc == 'Dona'}" value="2">Dona</option>
                    <option th:selected="${empresa.sexoDesc == 'Altre'}" value="3">Altre</option>
                    <option th:selected="${empresa.sexoDesc == 'Prefereixo no dir-ho'}" value="4">Prefereixo no dir-ho</option>
                </select>
            </div>
            <div>
                <button name="button" value="guardar">Guardar Canvis</button>
                <button name="button" value="bajar">Donar de baixa</button>
                <button name="button" value="cancelar">Cancelar Canvis</button>
            </div>
        </form>
    </body>
</html>
