<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <form th:action="@{/guardarAlumno}" method="post" th:object="${alumno}">
                <!-- Datos Perfil -->
                <div id="alumno">
                    <div>
                        <img th:src="${alumno.avatarLink}" alt="Foto Perfil"/>
                        <a>+</a>
                    </div>
                    <div>
                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{fechaRegistro}"/>
                        <input type="hidden" th:field="*{contrasenya}"/>
                        <label for="nom">Nom:</label>
                        <input type="text" id="nom" th:field="*{nombre}" th:placeholder="${alumno.nombre}">

                        <label for="cognoms">Cognoms:</label>
                        <input type="text" id="cognoms" th:field="*{apellidos}" th:placeholder="${alumno.apellidos}">

                        <label for="correu">Correu:</label>
                        <input type="text" id="correu" th:field="*{correo}" th:placeholder="${alumno.correo}">
                    </div>

                    <div>
                        <label for="genere">Gènere:</label>
                        <select th:field="*{sexo}" id="genere" name="genere">
                            <option th:selected="${alumno.sexoDesc == 'Home'}" value="1">Home</option>
                            <option th:selected="${alumno.sexoDesc == 'Dona'}" value="2">Dona</option>
                            <option th:selected="${alumno.sexoDesc == 'Altre'}" value="3">Altre</option>
                            <option th:selected="${alumno.sexoDesc == 'Prefereixo no dir-ho'}" value="4">Prefereixo no dir-ho</option>
                        </select>

                        <label for="mobil">Mòbil</label>
                        <input type="tel" id="mobil" th:field="*{movil}" th:placeholder="${alumno.movil}">
                    </div>

                    <div>
                        <label for="municipi">Municipi:</label>
                        <input type="text" id="municipi" th:field="*{municipio}" th:placeholder="${alumno.municipio}">

                        <label for="codPostal">Codi Postal:</label>
                        <input type="text" id="codPostal" th:field="*{codPostal}" th:placeholder="${alumno.codPostal}">
                    </div>
                </div>
                <!-- Curriculum -->
                <div id="curriculum">
                    <h2>Curriculum</h2>
                    <div>
                        <label for="linkedin">Linkedin</label>
                        <input type="text" id="linkedin" th:field="*{linkedin}" th:placeholder="${alumno.linkedin}">
                    </div>
                    <div>
                        <label for="portPersonal">Portafoli Personal</label>
                        <input type="text" id="portPersonal" th:field="*{portafoliPersonal}" th:placeholder="${alumno.portafoliPersonal}">
                    </div>
                    <div>
                        <label for="cvOnline">CV Online</label>
                        <input type="text" id="cvOnline" th:field="*{curriculumOnline}" th:placeholder="${alumno.curriculumOnline}">
                    </div>

                    <div>
                        <div>
                            <p>Curriculum Actual</p>
                            <a>PDF</a>
                        </div>
                        <div>
                            <p>Nou Curriculum</p>
                            <a>Subir</a>
                        </div>
                    </div>

                </div>
                <!-- Otros Datos -->
                <div id="otrosDatos">
                    <h2>Altres dades</h2>
                    <div>
                        <div>
                            <label for="dni">DNI/NIE: </label>
                            <input type="text" id="dni"  th:field="*{dni}" th:placeholder="${alumno.dni}">
                        </div>
                        <div>
                            <label for="targSanitaria">Targeta Sanitària: </label>
                            <input type="text" id="targSanitaria" th:field="*{tarjetaSanitaria}" th:placeholder="${alumno.tarjetaSanitaria}">
                        </div>
                        <div>
                            <label for="numSegSocial">Número Seguretat Social: </label>
                            <input type="text" id="numSegSocial" th:field="*{segSocial}" th:placeholder="${alumno.segSocial}">
                        </div>
                    </div>
                </div>

                <div>
                    <button name="button" value="guardar">Guardar Canvis</button>
                    <button name="button" value="bajar">Donar de baixa</button>
                    <button name="button" value="cancelar">Cancelar Canvis</button>
                </div>
            </form>
        </main>
    </body>
</html>
