<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1 th:text="${ofTit}">Ofertes de Feina</h1>
        </header>

        <main>
            <section>
                <input type="text" id="nom" name="nom" placeholder="Programador ENTTIA"><br>
                <div>
                    <h2>Descripció</h2>
                    <input type="text" id="descripcio" name="descripcio" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam."><br>
                </div>
                <div>
                    <h2>Requisits</h2>
                    <input type="text" id="requisits" name="requisits" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam."><br>
                </div>
                <div>
                    <h2>S'ofereix</h2>
                    <input type="text" id="ofereix" name="ofereix" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam."><br>
                </div>
                <div>
                    <h2>Tens un PDF amb la informació de la oferta?</h2>
                    <text>Navega i escull els fitxers que vols pujar des del teu ordinador</text>
                    <button>+</button>
                </div>
            </section>
            
            <button>Esborrar Oferta</button>
            <button>Guardar Canvis</button>
        </main>
    </body>
</html>
