<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>El meu Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="container inicio">
                <!-- Anuncios -->
                <div class="row my-5">
                    <div class="col-md-6">
                        <div class="card py-5 mx-1 mt-5 row RowVerticalScroll" id="noticias">
                            <h1>Anuncis</h1>
                            <div class="card mt-5 col-lg-12 p-5 noticia" th:each="noticia : ${noticias}">
                                <h3 th:text="${noticia.titulo}"></h3>
                                <p th:text="${noticia.descripcion}"></p>
                                <p th:text="${noticia.fechaHora}"></p>

                                <!--Enllaç mitjançant el qual accedirem a la pàgina per editar la noticia actual
                                al qual li correspon l'id que concatenem a l'URL editar-->

                                <a class="boton" th:href="@{/editar/}+${noticia.id}" th:text="Editar"/>

                                <!--Enllaç mitjançant el qual accedirem a la pàgina per eliminar la noticia actual
                                al qual li correspon l'id que concatenem a l'URL d'eliminar-->

                                <a class="boton" th:href="@{/eliminar/}+${noticia.id}" th:text="Eliminar"/>
                            </div>
                            <a class="boton" th:href="@{/crearNoticia}" th:text="Crear">Crear Anunci</a>
                        </div>
                    </div>
                    <div class="col-md-6 maxHeightScroll">
                        <!-- Validacions -->
                        <div class="py-5 card mx-1 mt-5 row RowVerticalScroll" id="validaciones">
                            <h1>Validacions</h1>
                            <div class="card mt-5 p-5 p-5 col-lg-12 oferta" th:each="validacion : ${validaciones}">
                                <h3 th:text="${validacion.nombre}"></h3>
                                <p th:text="${validacion.apellidos}"></p>
                                <a class="boton" th:href="@{/validarRegistreAlumne/}+${validacion.id}">Validar Alumne</a>
                            </div>
                            <div id="validaciones2">
                                <div class="card mt-5 p-5 p-5 col-lg-12 oferta" th:each="validacion2 : ${validaciones2}">
                                    <h3 th:text="${validacion2.nombreEmpresa}"></h3>
                                    <a class="boton" th:href="@{/validarRegistreEmpresa/}+${validacion2.id}">Validar Empresa</a>
                                </div>
                            </div>
                            <div id="validaciones3">
                                <div class="card mt-5 p-5 p-5 col-lg-12 oferta" th:each="validacion3 : ${validaciones3}">
                                    <h3 th:text="${validacion3.tituloOferta}"></h3>
                                    <a class="boton" th:href="@{/validarOferta/}+${validacion3.id}">Validar Oferta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
