<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificar Notícia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="noticia">
                <label for="titol">Títol:</label>
                <input type="text" id="titol" name="titol" placeholder="Lorem ipsum dolor sit amet">

                <label for="descripcio">Descripció:</label>
                <input type="text" id="descripcio" name="descripcio" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation">
            </div>

            <button>Guardar</button> 
            <button>Eliminar</button>
        </main>
    </body>
</html>
