<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Registrar Empresa</title>
    </head>
    <body>
        <h1>Registrar Empresa</h1>

        <form method="post" th:action="@{/registreEmpresa}" th:object="${empresa}">
            
            <div>
                <h2>Dades Empresa</h2>
                <label for="nom">Nom:</label>
                <input type="text" id="nom" th:field="*{nombreEmpresa}" name="nom" placeholder="Introdueix el nom de l'empresa"><br>

                <label for="descripcio">Descripció:</label>
                <input type="text" id="descripcio" th:field="*{descripcionEmpresa}" name="descripcio" placeholder="Introdueix una descripció de l'empresa"><br>

                <label for="contrasenya">Contrasenya:</label>
                <input type="password" id="contrasenya" th:field="*{password}" name="contrasenya" placeholder="Introdueix la contrasenya"><br>

                <label for="repeteix_contrasenya">Repeteix la Contrasenya:</label>
                <input type="password" th:value="${contrasenyaRepetida}" id="contrasenyaRepetida" name="contrasenyaRepetida" placeholder="Repeteix la contrasenya"><br>

                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{username}" name="email" placeholder="Introdueix el teu email"><br>

                <label for="direccio">Direcció:</label>
                <input type="text" id="direccio" th:field="*{direccion}" name="direccio" placeholder="Introdueix la direcció"><br>

                <label for="codi_postal">Codi Postal:</label>
                <input type="text" id="codi_postal" th:field="*{codPostal}" name="codi_postal" placeholder="Introdueix el codi postal"><br>

                <label for="municipi">Municipi:</label>
                <input type="text" id="municipi" th:field="*{municipio}" name="municipi" placeholder="Introdueix el municipi"><br>

                <label for="mobil">Mòbil:</label>
                <input type="tel" id="mobil" th:field="*{movil}" name="mobil" placeholder="Introdueix el número"><br>

                <label for="web">Web Empresa:</label>
                <input type="text" id="web" th:field="*{webEmpresa}" name="web" placeholder="Introdueix la direcció web"><br>
            </div>

            <div>
                <h2>Dades Responsable</h2>
                <label for="nom_resp">Nom:</label>
                <input type="text" id="nom_resp" th:field="*{nombre}" name="nom_resp" placeholder="Introdueix el nom"><br>

                <label for="cognoms_resp">Cognoms:</label>
                <input type="text" id="cognoms_resp" th:field="*{apellidos}" name="cognoms_resp" placeholder="Introdueix els cognoms"><br>
                
                <label for="correo_resp">Correu:</label>
                <input type="text" id="correo_resp" th:field="*{correoContacto}" name="correo_resp" placeholder="Introdueix el correu del responsable"><br>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </body>
</html>
