<!DOCTYPE html>
<html>
  <head>
    <title>Registrar Administrador</title>
  </head>
  <body>
    <h1>Registrar Administrador</h1>
    <form method="post" th:action="@{/registreAdministrador}" th:object="${administrador}">
      <label for="nom">Nom:</label>
      <input type="text" id="nom" th:field="*{nombre}" name="nom" placeholder="Introdueix el nom">

      <label for="cognoms">Cognoms:</label>
      <input type="text" id="cognoms" th:field="*{apellido}" name="cognoms" placeholder="Introdueix els cognoms">

      <label for="contrasenya">Contrasenya:</label>
      <input type="password" id="contrasenya" th:field="*{contrasenya}" name="contrasenya" placeholder="Introdueix la contrasenya">

      <label for="repeteix-contrasenya">Repeteix la Contrasenya:</label>
      <input type="password" th:value="${contrasenyaRepetida}" id="repeteix-contrasenya" name="repeteix-contrasenya" placeholder="Repeteix la contrasenya">

      <label for="email">Email:</label>
      <input type="email" id="email" th:field="*{correo}" name="email" placeholder="Introdueix l'email">
      
      <button type="submit">Registrar</button> 
    </form>
  </body>
</html>
