<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tipus d'usuari a registrar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div class="marginTopRegistro">
                <div class="row justify-content-center w-100">
                    <div class="col-lg-5">
                        <h2>REGISTRAR USUARIS</h2>
                    </div>
                </div>
            </div>
            <div class="marginTopBotonesRegistro">
                <div class="container botonesRegistro">
                    <div class="row justify-content-center w-100">
                        <div class="col-lg-4">
                            <a class="boton" href="/registrarAlumne">Alumne</a>
                        </div>
                        <div class="col-lg-4">
                            <a class="boton" href="/registrarEmpresa">Empresa</a>
                        </div>
                        <div class="col-lg-4">
                            <a class="boton" href="/registrarAdministrador">Administrador</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
