<!DOCTYPE html>
<html>
    <head>
        <title>Registrar Administrador</title>
    </head>
    <body>
        <h1>Registrar Administrador</h1>
        <form method="post" th:action="@{/registreAdministrador}" th:object="${administrador}">
            <p>
                <label for="nombre">Nom:</label>
                <input type="text" id="nombre" th:field="*{nombre}" name="nombre" placeholder="Introdueix el nom"/>
                <!--Afegim un contenidor de tipus span per gestionar la validació-->
                <!--Comprovem si el camp "nom" conté errors mitjançant th:if="${#fields.hasErrors('nom')}", on passem com a
                    paràmetre el nom del camp on volem comprovar si hi ha errors, en el nostre cas "nom", i ens retornarà
                    verdader si conté errors i fals en cas contrari.
                    Si conté errors, li demanarem a l'atribut nom del gos que ens mostri els errors mitjançant th:errors="*{nom}".
                    Tot això és possible perquè en la classe Gos hem afegit les anotacions per les validacions.-->
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
            </p>

            <p>
                <label for="apellido">Cognoms:</label>
                <input type="text" id="apellido" th:field="*{apellido}" name="apellido" placeholder="Introdueix els cognoms"/>
                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"/>
            </p>

            <p>
                <label for="contrasenya">Contrasenya:</label>
                <input type="password" id="contrasenya" th:field="*{password}" name="contrasenya" placeholder="Introdueix la contrasenya"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
            </p>

            <p>
                <label for="repeteix-contrasenya">Repeteix la Contrasenya:</label>
                <input type="password" th:value="${contrasenyaRepetida}" id="repeteix-contrasenya" name="repeteix-contrasenya" placeholder="Repeteix la contrasenya"/>
            </p>

            <p>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{username}" name="email" placeholder="Introdueix l'email"/>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
            </p>

            <button type="submit">Registrar</button> 
        </form>
    </body>
</html>
