<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1 th:text="${oferta.tituloOferta}"></h1>
        </header>

        <main>
            <div>
                <h2>Descripció</h2>
                <p th:text="${oferta.descripcionOferta}"></p>
            </div>
            <div>
                <h2>Requisits</h2>
                <p th:text="${oferta.requisitosAlumno}"></p>
            </div>
            <div>
                <h2>S'ofereix</h2>
                <p th:text="${oferta.seOfrece}"></p>
                <p th:text="${oferta.fechaPeticion}"></p>
            </div>
            <div>
                <h2>Més informació</h2>
                <button>Descarregar PDF</button>
            </div>
            <form method="post" th:action="@{/validarOferta}" th:object="${oferta}">
                <div>
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{empresa.id}"/>
                    <input type="hidden" th:field="*{enlacePDF}"/>
                    <input type="hidden" th:field="*{tituloOferta}"/>
                    <input type="hidden" th:field="*{descripcionOferta}"/>
                    <input type="hidden" th:field="*{requisitosAlumno}"/>
                    <input type="hidden" th:field="*{seOfrece}"/>
                    <input type="hidden" th:field="*{fechaPeticion}"/>
                    <input type="hidden" th:field="*{baja}"/>
                    <button class="boton" type="submit">Validar</button>
            </form>

            <a class="boton cancelar" th:href="@{/administrador/inici}" th:text="Invalidar"/>

        </main>
    </body>
</html>
