<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1 th:text="${ofTit}"></h1>
        </header>

        <main>
            <section>
                <h1 th:text="${nomEmpresa}"></h1>
                <div>
                    <h2>Descripció</h2>
                    <p th:text="${ofDesc}"></p>
                </div>
                <div>
                    <h2>Requisits</h2>
                    <p th:text="${ofReq}"></p>
                </div>
                <div>
                    <h2>S'ofereix</h2>
                    <p th:text="${ofOfer}"></p>
                </div>
                <div>
                    <h2>Més informació</h2>
                    <button>Descarregar PDF</button>
                </div>
            </section>
            <div id="validacio">
                <button>Validar Oferta</button>
                <button>Invalidar Oferta</button>
            </div>
        </main>
    </body>
</html>
