<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Valida el registre de l'alumne</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="alumno">
                <label for="nom">Nom:</label>
                <p th:text="${nombreAlumno}"></p>

                <label for="cognoms">Cognoms:</label>
                <p th:text="${apellidosAlumno}"></p>

                <label for="adreca">Adreça:</label>
                <p th:text="${correoAlumno}"></p>

                <label for="direccio">Direcció:</label>
                <p th:text="${direccionAlumno}"></p>

                <label for="movil">Mòvil:</label>
                <p th:text="${movilAlumno}"></p>

                <label for="genere">Gènere:</label>
                <p th:text="${generoAlumno}"></p>
                
                <label for="dni">DNI/NIE:</label>
                <p th:text="${dniAlumno}"></p>

                <label for="tarjetaSanitaria">Tarjeta Sanitària:</label>
                <p th:text="${tsAlumno}"></p>

                <label for="seguretatSocial">Número de la Seguretat Social:</label>
                <p th:text="${socialAlumno}"></p>
            </div>
            <button>Validar Registre</button>
            <button>Invalidar Registre</button>
        </main>
    </body>
</html>
