<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1 th:text="${oferta.tituloOferta}"></h1>
        </header>

        <main>
            <section>
                <div>
                    <h2>Descripció</h2>
                    <p th:text="${oferta.descripcionOferta}"></p>
                </div>
                <div>
                    <h2>Requisits</h2>
                    <p th:text="${oferta.requisitosAlumno}"></p>
                </div>
                <div>
                    <h2>S'ofereix</h2>
                    <p th:text="${oferta.seOfrece}"></p>
                </div>
                <div>
                    <h2>Més informació</h2>
                    <button>Descarregar PDF</button>
                </div>
            </section>
            <div id="validacio">
                <a th:href="@{/inicioAdmin}" th:text="Validar"/>
                <a th:href="@{/inicioAdmin}" th:text="Invalidar"/>
            </div>
        </main>
    </body>
</html>
