<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Valida el registre de l'alumne</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="datos">
                <label for="nom">Nom:</label>
                <text id="nom" name="nom">John</text>

                <label for="cognoms">Cognoms:</label>
                <text id="cognoms" name="cognoms">Doe</text>

                <label for="genere">Gènere:</label>
                <text id="genere" name="genere">Dona</text>

                <label for="adreca">Adreça:</label>
                <text id="adreca" name="adreca">JohnDoe@gmail.com</text>
            </div>
            <button>Validar Registre</button>
            <button>Invalidar Registre</button>
        </main>
    </body>
</html>
