<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Valida el registre de l'alumne</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="empresa">
                <label for="nom">Nom:</label>
                <p th:text="${emNombre}"></p>

                <label for="descripcio">Descripcio:</label>
                <p th:text="${emDesc}"></p>

                <label for="direccio">Direccio:</label>
                <p th:text="${emDir}"></p>

                <label for="codi">Codi postal:</label>
                <p th:text="${emPost}"></p>

                <label for="municipi">Municipi:</label>
                <p th:text="${emMun}"></p>

                <label for="web">Web empresa:</label>
                <p th:text="${emWeb}"></p>

                <label for="telefon">Telèfon:</label>
                <p th:text="${emTel}"></p>


            </div>
            <div id="responsable">
                <label for="nom">Nom:</label>
                <p th:text="${resNombre}"></p>

                <label for="cognoms">Cognoms:</label>
                <p th:text="${resApellidos}"></p>

                <label for="mobil">Mòbil:</label>
                <p th:text="${resMob}"></p>
            </div>
            <button>Validar Registre</button>
            <button>Invalidar Registre</button>
        </main>
    </body>
</html>
