<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Valida el registre de l'alumne</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="empresa">
                <label for="nom">Nom:</label>
                <p th:text="${empresa.nombreEmpresa}"></p>

                <label for="descripcio">Descripcio:</label>
                <p th:text="${empresa.descripcionEmpresa}"></p>

                <label for="correu">Correu:</label>
                <p th:text="${empresa.username}"></p>
                
                <label for="direccio">Direccio:</label>
                <p th:text="${empresa.direccion}"></p>

                <label for="codi">Codi postal:</label>
                <p th:text="${empresa.codPostal}"></p>

                <label for="municipi">Municipi:</label>
                <p th:text="${empresa.municipio}"></p>

                <label for="web">Web empresa:</label>
                <p th:text="${empresa.webEmpresa}"></p>

                <label for="telefon">Telèfon:</label>
                <p th:text="${empresa.movil}"></p>


            </div>
            <div id="responsable">
                <label for="nom">Nom:</label>
                <p th:text="${empresa.nombre}"></p>

                <label for="cognoms">Cognoms:</label>
                <p th:text="${empresa.apellidos}"></p>

                <label for="mobil">Mòbil:</label>
                <p th:text="${empresa.correoContacto}"></p>
            </div>
            <a th:href="@{/inicioAdmin}" th:text="Validar"/>
            <a th:href="@{/inicioAdmin}" th:text="Invalidar"/>
        </main>
    </body>
</html>
