<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Valida el registre de l'alumne</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="alumno">
                <label for="nom">Nom:</label>
                <p th:text="${alumno.nombre}"></p>

                <label for="cognoms">Cognoms:</label>
                <p th:text="${alumno.apellidos}"></p>

                <label for="adreca">Adreça:</label>
                <p th:text="${alumno.correo}"></p>

                <label for="direccio">Direcció:</label>
                <p th:text="${alumno.direccion}"></p>

                <label for="movil">Mòvil:</label>
                <p th:text="${alumno.movil}"></p>

                <label for="genere">Gènere:</label>
                <p th:text="${alumno.sexoDesc}"></p>
                
                <label for="dni">DNI/NIE:</label>
                <p th:text="${alumno.dni}"></p>

                <label for="tarjetaSanitaria">Tarjeta Sanitària:</label>
                <p th:text="${alumno.tarjetaSanitaria}"></p>

                <label for="seguretatSocial">Número de la Seguretat Social:</label>
                <p th:text="${alumno.SegSocial}"></p>
            </div>
            <a th:href="@{/inicioAdmin}" th:text="Validar"/>
            <a th:href="@{/inicioAdmin}" th:text="Invalidar"/>
        </main>
    </body>
</html>
