<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Valida el registre de l'alumne</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="empresa">
                <label for="nom">
                    <b>Nom:</b>
                </label>
                <p th:text="${empresa.nombreEmpresa}"></p>

                <label for="descripcio">
                    <b>Descripcio:</b>
                </label>
                <p th:text="${empresa.descripcionEmpresa}"></p>

                <label for="correu">
                    <b>Correu:</b>
                </label>
                <p th:text="${empresa.username}"></p>
                
                <label for="direccio">
                    <b>Direccio:</b>
                </label>
                <p th:text="${empresa.direccion}"></p>

                <label for="codi">
                    <b>Codi postal:</b>
                </label>
                <p th:text="${empresa.codPostal}"></p>

                <label for="municipi">
                    <b>Municipi:</b>
                </label>
                <p th:text="${empresa.municipio}"></p>

                <label for="web">
                    <b>Web empresa:</b>
                </label>
                <p th:text="${empresa.webEmpresa}"></p>

                <label for="telefon">
                    <b>Telèfon:</b>
                </label>
                <p th:text="${empresa.movil}"></p>


            </div>
            <div id="responsable">
                <label for="nom">
                    <b>Nom:</b>
                </label>
                <p th:text="${empresa.nombre}"></p>

                <label for="cognoms">
                    <b>Cognoms:</b>
                </label>
                <p th:text="${empresa.apellidos}"></p>

                <label for="mobil">
                    <b>Mòbil:</b>
                </label>
                <p th:text="${empresa.movilEmpresa}"></p>
            </div>
            <a class="boton" th:href="@{/administrador/inici}" th:text="Validar"/>
            <a class="boton" th:href="@{/administrador/inici}" th:text="Invalidar"/>
        </main>
    </body>
</html>
