<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <!-- Datos Perfil -->
            <div id="alumno">
                <img src="" alt="Foto Alumno"/>
                <p th:text="${nombreAlumno}"></p>
                <p th:text="${correoAlumno}"></p>
                <p th:text="${direccionAlumno}"></p>
                <p th:text="${movilAlumno}"></p>
                <p th:text="${generoAlumno}"></p>
            </div>
            <!-- Curriculum -->
            <div id="curriculum">
                <div>
                    <ul>
                        <li>
                            <i><a>Linkedin</a></i>
                        </li>
                        <li>
                            <i><a>Portafoli Personal</a></i>
                        </li>
                        <li>
                            <i><a>Curriculum Online</a></i>
                        </li>
                    </ul>
                </div>
                <button>Descarregar Curriculum PDF</button>
            </div>
            <!-- Otros Datos -->
            <div id="otrosDatos">
                <div>
                    <span>DNI/NIE: </span><span>A</span>
                    <span>Targeta Sanitària: </span><span>A</span>
                    <span>Número Seguretat Social </span><span>A</span> 
                </div>
            </div>

            <button>Donar de baixa</button>
            <button>Modificar dades</button>
        </main>
    </body>
</html>
