<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>Alumnes</h1>

        <div>
            <div class="container">
                <div class="row gx-0">
                    <div class="col-md-9 my-3 mx-md-3 searchbar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="search-input" name="search-input">
                        <button class="boton">Buscar</button>
                    </div>
                    <div class="custom-select col my-3 mx-md-3 searchbarselect align-self-center">
                        <select id="sort-select" name="sort-select">
                            <option value="0">Ordenar Per:</option>
                            <option value="nombre">Nombre</option>
                            <option value="fechaRegistro">Fecha Registro</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container verempresa">
            <div class="row justify-content-center w-100">
                <div class="col-lg-12 card p-4 mx-lg-5 my-3 alumnoCard" th:each="alumno : ${alumnos}">
                    <h5 class="align-self-center" th:text="${alumno.nombre} + ' ' + ${alumno.apellidos}"></h5>
                    <h5 class="align-self-center" th:text="${alumno.username}"></h5>
                    <span>
                        <a class="boton" th:href="@{/verAlumno/}+${alumno.id}">Accedeix</a>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
