<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1 th:text="${emNombre}">Empresa Copernic</h1>
        </header>
        <main>
            <section>
                <a th:text="${emDesc}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam.</a>
                <div>
                    <h2>Contacte</h2>
                    <p th:text="${emDir}"></p>
                    <p th:text="${emPost}"></p>
                    <p th:text="${emMun}"></p>
                    <p th:text="${emWeb}"></p>
                    <p th:text="${emTel}"></p>
                </div>
            </section>
            <section>
                <div id="responsable">
                    <<h2>Responsable</h2>
                    <label for="nombre">Nom:</label>
                    <p th:text="${resNombre}"></p>

                    <label for="apellidos">Cognoms:</label>
                    <p th:text="${resApellidos}"></p>

                    <label for="mobil">Número de Contacte:</label>
                    <p th:text="${resMob}"></p>
                </div>
            </section>
            <a href="/editarEmpresa">Editar Dades</a>
            <a href="/veureOfertes">Veure Ofertes</a>
        </main>
    </body>
</html>
