<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <h1 th:text="${empresa.nombreEmpresa}">Empresa Copernic</h1>
        </header>
        <main>
            <section>
                <a th:text="${empresa.descripcionEmpresa}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam.</a>
                <div>
                    <h2>Contacte</h2>
                    <p th:text="${empresa.correo}"></p>
                    <p th:text="${empresa.direccion}"></p>
                    <p th:text="${empresa.codPostal}"></p>
                    <p th:text="${empresa.municipio}"></p>
                    <p th:text="${empresa.webEmpresa}"></p>
                    <p th:text="${empresa.movil}"></p>
                </div>
            </section>
            <section>
                <div id="responsable">
                    <h2>Responsable</h2>
                    <label for="nombre">Nom:</label>
                    <p th:text="${empresa.nombre}"></p>

                    <label for="apellidos">Cognoms:</label>
                    <p th:text="${empresa.apellidos}"></p>
                    
                    <label for="correoContacto">Correo:</label>
                    <p th:text="${empresa.correoContacto}"></p>
                </div>
            </section>
            <a th:href="@{/editarEmpresa/}+${empresa.id}" th:text="Editar">Editar Dades</a>
            <a href="/verOfertasAdmin">Veure Ofertes</a>
        </main>
    </body>
</html>
