<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body xmlns:th="http://www.thymeleaf.org">
        <header>
            <h1 th:text="${oferta.tituloOferta}"></h1>
        </header>

        <main>
            <section>
                <div>
                    <h2>Descripció</h2>
                    <p th:text="${oferta.descripcionOferta}"></p>
                </div>
                <div>
                    <h2>Requisits</h2>
                    <p th:text="${oferta.requisitosAlumno}"></p>
                </div>
                <div>
                    <h2>S'ofereix</h2>
                    <p th:text="${oferta.seOfrece}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam.</p>
                </div>
                <div>
                    <button th:if="${oferta.enlacePDF != null}">Descarregar PDF</button>
                </div>
            </section>

            <section>
                <div>
                    <p th:if="${alumnesInscrits != null}" th:text="'Alumnes inscrits: ' + ${alumnesInscrits}"></p>
                    <b th:if="${alumnesInscrits == null}">No hi ha cap alumne inscrit</b>
                    <button th:if="${empresaAdmin}">Veure Alumnes</button>
                </div>

                <p th:text="${oferta.fechaPeticion}"></p>
                <a class="boton" th:href="@{/editarOferta/}+${oferta.id}" th:text="Editar"/>
            </section>
        </main>
    </body>
</html>
