<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perfil Personal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <!-- Datos Perfil -->
            <div th:if="${CanvisGuardats != null}">
                <p th:text="${CanvisGuardats}"></p>
            </div>

            <div id="perfil">
                <p th:text="${administrador.nombre}"></p>
                <p th:text="${administrador.apellidos}"></p>
                <p th:text="${administrador.username}"></p>
            </div>

            <a href="/editarAdmin">Editar Perfil</a>

        </main>
    </body>
</html>
