<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perfil Personal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <!-- Datos Perfil -->
            <div id="perfil">
                <p th:text="${administrador.nombre}"></p>
                <p th:text="${administrador.apellido}"></p>
                <p th:text="${administrador.correo}"></p>
                
                <a th:href="@{/editarAdmin/}+${administrador.id}" th:text="Editar">Editar Perfil</a>
            </div>
        </main>
    </body>
</html>
