<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Crear Incidència</h1>
            <form method="post" action="">
                <div class="form-group">
                    <label for="titulo">Títol</label>
                    <input type="text" class="form-control" id="titulo" placeholder="Introduce el título">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripció</label>
                    <textarea class="form-control" id="descripcion" rows="5" placeholder="Introduce la descripción"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Crear incidència</button>
                <button type="reset" class="btn btn-secondary">Cancelar</button>
            </form>
        </div>
    </body>
</html>
