<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>

        <form method="post" th:action="@{/login}">
            <table style="margin: 0 auto;">

                <tr>
                    <th>
                        <div class="imgcontainer">
                            <img th:src="@{images/logoCopernicJobs.png}" alt="Avatar" class="avatar"/>
                        </div>

                    </th>
                </tr>


                <tr>
                    <th>
                        <h1>Iniciar Sessió</h1>
                    </th>
                </tr>


                <div class="container">
                    <tr>
                        <th>
                            <label for="uname"><b>Correu</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="text" placeholder="Introdueix el teu correu" th:value="${correo}" name="correo" required>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <label for="psw"><b>Contrasenya</b></label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <input type="password" placeholder="Introdueix la teva contrasenya" th:value="${contrasenya}" name="contrasenya" required>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="container">
                                <span class="psw"><a href="/recuperarContrasenya">Recuperar contrasenya</a></span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit">Iniciar Sessió</button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <span th:if="${loginIncorrecto}">Login Incorrecte</span>
                            <div class="container">
                                <span class="psw"><a href="/registrat">Registra't</a></span>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="container">
                                <span class="psw">Et vas donar de Baixa?<a href="/donatDalta">Donat d'Alta</a></span>
                            </div>
                        </th>
                    </tr>
                </div>

            </table>
        </form>

    </body>
</html>