<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
	<div>
  		<label for="html">Modulo Administrador</label>
  		<input type="submit" value="Activar Modulo">
		<input type="submit" value="Desactivar Modulo">
	</div>

	<div>
  		<label for="html">Modulo Alumno</label>
  		<input type="submit" value="Activar Modulo">
		<input type="submit" value="Desactivar Modulo">
	</div>

	<div>
  		<label for="html">Modulo Empresa</label>
  		<input type="submit" value="Activar Modulo">
		<input type="submit" value="Desactivar Modulo">
	</div>

    </body>
</html>