<!DOCTYPE html>
<html lang="en">
    <head th:insert="layout/_plantillaAuth.html :: authHead">

    </head>
    <body>

        <div class="authTemplate ">
            <div class="container">
                <th:block th:include="layout/_plantillaAuth.html :: authTemplate"></th:block>
                <div class="row modulos">
                    <div class="card col modulo" th:each="modulo : ${listaModulos}">
                        <a th:href="@{/} + ${modulo.nombre} + '/inici'">
                            Mòdul <span th:text="${#strings.capitalize(modulo.nombre)}"></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
