<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Acord de Protecció de Dades Personals</title>
    </head>
    <body>
        <div style="max-width:500px; margin:auto;text-align: justify;" >
            <h1 style="text-align: center">ACORD DE PROTECCIÓ DE DADES PERSONALS</h1>

            <p>Aquest Acord de Protecció de Dades Personals (l'"Acord") es celebra entre l'Institut Nicolau Copèrnic (el "Client") i l'usuari final de l'aplicació CopernicJobs (l'"Usuari").</p>

            <h2>1. Recopilació de dades personals</h2>

            <p>El Client recopila les següents dades personals de l'Usuari a través de l'aplicació CopernicJobs: nom, cognoms, sexe, correu electrònic, adreça, número de telèfon mòbil, currículum, número d'identificació fiscal, targeta sanitària i número de seguretat social.</p>

            <h2>2. Finalitat de la recopilació de dades personals</h2>

            <p>Les dades personals recopilades s'utilitzaran exclusivament per a finalitats de gestió de recursos humans. El Client es compromet a utilitzar les dades personals únicament per a la finalitat específica per a la qual van ser recopilades.</p>

            <h2>3. Com són recopilades les dades personals</h2>

            <p>El Client recopila les dades personals a través de l'aplicació CopernicJobs, la qual és accessible per a l'Usuari mitjançant un compte d'usuari registrat i verificat.</p>

            <h2>4. Accés i protecció de les dades personals</h2>

            <p>L'accés a les dades personals estarà restringit únicament als empleats del Client que necessitin accedir-hi per dur a terme la gestió de recursos humans. El Client es compromet a prendre mesures raonables per garantir la protecció i seguretat de les dades personals recopilades.</p>

            <h2>5. Política de retenció de dades</h2>

            <p>Les dades personals s'emmagatzemaran durant el temps que sigui necessari per complir amb les finalitats per a les quals es van recopilar. En cas que l'Usuari sol·liciti l'eliminació de les seves dades personals, el Client es compromet a eliminar les dades personals en un termini raonable.</p>

            <h2>6. Drets dels usuaris</h2>

            <p>L'Usuari té dret a accedir, rectificar, cancel·lar o oposar-se al tractament de les seves dades personals. Si l'Usuari desitja exercir algun d'aquests drets, haurà d'enviar una sol·licitud per escrit al Client.</p>

            <h2>7. Menors d'edat</h2>

            <p>L'aplicació CopernicJobs no està dissenyada per recopilar dades personals de menors d'edat. Si el Client descobreix que ha recopilat dades personals de menors d'edat sense el consentiment dels pares o tutors, procedirà a eliminar les dades personals de manera immediata.</p>

            <h2>8. Incompliment de seguretat de dades</h2>

            <p>En cas que es produeixi un incompliment de seguretat de dades, el Client notificarà a l'Usuari sense demora indeba i prendrà les mesures necessàries per mitigar qualsevol efecte negatiu que es pugui derivar de l'incompliment.</p>
            <h2>9. Modificacions a l'acord</h2>

            <p>El Client es reserva el dret de modificar aquest Acord en qualsevol moment. L'Usuari serà notificat de qualsevol modificació mitjançant la publicació d'una versió actualitzada de l'Acord a l'aplicació CopernicJobs. L'ús continuat de l'aplicació després de la publicació d'una versió actualitzada de l'Acord constituirà l'acceptació de l'Usuari dels termes i les condicions de l'Acord modificat.</p>

            <h2>10. Llei aplicable i jurisdicció</h2>

            <p>Aquest Acord es regirà i s'interpretarà d'acord amb les lleis d'Espanya. Qualsevol disputa que sorgeixi en relació amb aquest Acord s'ha de resoldre exclusivament mitjançant els tribunals competents d'Espanya.</p>

        </div>
    </body>
</html>
