<!DOCTYPE html>
<html>
    <head>
        <title>Registra't com Alumne</title>
    </head>
    <body>
        <img th:src="@{images/logoCopernicJobs.png}" alt="Logo"> 
        <h1>Registra't com Alumne</h1>
        <form method="post" th:action="@{/registratComAlumne}" th:object="${alumno}" commandName="reset">

            <div th:if="${registrado}" th:text="#{info.registrofinalizado}">
                
            </div>
            <div th:if="${#fields.hasAnyErrors()}">
                <ul>
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </ul>
            </div>

            <label for="nom">Nom:</label>
            <input type="text" id="nom" th:field="*{nombre}" name="nom" placeholder="Introdueix el teu nom">


            <label for="cognoms">Cognoms:</label>
            <input type="text" id="cognoms" th:field="*{apellidos}" name="cognoms" placeholder="Introdueix els teus cognoms">

            <label for="password">Contrasenya:</label>
            <input type="password" id="password" th:field="*{password}" name="password" placeholder="Introdueix la contrasenya">

            <label for="repeteix-contrasenya">Repeteix la Contrasenya:</label>
            <input type="password" th:value="${contrasenyaRepetida}" id="contrasenyaRepetida" name="contrasenyaRepetida" placeholder="Repeteix la contrasenya">

            <label for="email">Email:</label>
            <input type="email" id="username" th:field="*{username}" name="username" placeholder="Introdueix el teu email">

            <label for="genere">Gènere:</label>
            <select th:field="*{sexo}" id="genere" name="genere">
                <option value="1">Home</option>
                <option value="2">Dona</option>
                <option value="3">Altre</option>
                <option value="4">Prefereixo no dir-ho</option>
            </select>

            <button type="submit">Registra't</button> 
        </form>
        <p><a href="/login">Ja tens un compte? Inicia Sessió</a></p>
    </body>
</html>
