<!DOCTYPE html>
<html>
    <head th:insert="layout/_plantillaAuth.html :: authHead">

    </head>
    <body><!-- Reemplaza "logo.jpg" con la ruta a tu imagen de logo -->
        <div class="authTemplate">
            <th:block th:include="layout/_plantillaAuth.html :: authTemplate"></th:block>
            <h3>Regitra't Com</h3>
            <a href="/registratComAlumne" class="boton">Alumne</a> 
            <a href="/registratComEmpresa" class="boton">Empresa</a> 
            <p class="marginBottom">Ja tens un compte? <a href="/">Inicia Sessió</a></p> 
        </div>
    </div>
</body>
</html>
