<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body xmlns:th="http://www.thymeleaf.org" th:object="${oferta}">
        <header>
            <h1 tx:field="*{oferta.tituloOferta}">Ofertes de Feina</h1>
        </header>
        <main>
            <section>
                <a href="#" th:text="${oferta.empresa.nombreEmpresa}">Nom Empresa</a>
                <div>
                    <h2>Descripció</h2>
                    <p th:text="${oferta.descripcionOferta}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam.</p>
                </div>
                <div>
                    <h2>Requisits</h2>
                    <p th:text="${oferta.requisitosAlumno}"></p>
                </div>
                <div>
                    <h2>S'ofereix</h2>
                    <p th:text="${oferta.seOfrece}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam cursus, lorem eu mattis euismod, velit augue tristique turpis, non hendrerit ipsum dolor at quam.</p>
                </div>
                <div>
                    <h2>Més informació</h2>
                    <button>Descarregar PDF</button>
                </div>
            </section>

            <section>
                <div>
                    <p th:text="'Alumnes inscrits: ' + ${alumnesInscrits}"></p>
                    <button th:if="${empresaAdmin}">Veure Alumnes</button>
                </div>

                <p th:text="${oferta.fechaPeticion}"></p>
                <button th:if="${!alumnoInscrito}">Inscriure'm</button>
                <button th:if="${alumnoInscrito}">Desisncriure'm</button>
                <button th:if="${empresaAdmin}">Editar oferta</button>
            </section>
        </main>
    </body>
</html>
