<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav th:fragment="nav">
            <ul>
                <li><a href="/alumne/veurePerfilAlumne">Veure Perfil</a></li>
                <li><a href="/alumne/editarPerfilAlumne">Editar Perfil</a></li>             
                <li><a href="/alumne/inici">Inici</a></li>
                <li><a href="/alumne/veureOfertesAlumne">Veure Ofertes</a></li>
                <li><a href="/alumne/inscripcions">Les meves Inscripcions</a></li>
                <li><a href="/crearIncidencia">Crear incidència</a></li>
                <li><a href="/login">Tancar Sessió</a></li>
            </ul>
        </nav>
    </body>
</html>
