<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul th:fragment="nav" class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/alumne/inici'} ? '' : collapsed" href="/alumne/inici">
                    <i class="fa-solid fa-house"></i>
                    <span>Inici</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/alumne/veureOfertesAlumne'} ? '' : collapsed" href="/alumne/veureOfertesAlumne">
                    <i class="fa-solid fa-briefcase"></i>
                    <span>Veure Ofertes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/alumne/inscripcions'} ? '' : collapsed" href="/alumne/inscripcions">
                    <i class="fa-solid fa-rectangle-list"></i>
                    <span>Les meves Inscripcions</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#ctx.springRequestContext.requestUri == '/alumne/crearIncidencia'} ? '' : collapsed" href="/alumne/crearIncidencia">
                    <i class="fa-solid fa-bug"></i>
                    <span>Crear incidència</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/login">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Tancar Sessió</span>
                </a>
            </li>
        </ul>
    </body>
</html>
