<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>El meu Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <!-- Datos Perfil -->
            <div id="perfil">
                <form method="post">
                    <div>
                        <img src="" alt="Foto Perfil"/>
                        <button>+</button>
                    </div>
                </form>
                <div>
                    <label for="nom">Nom:</label>
                    <input type="text" id="nom" name="nom" placeholder="John">

                    <label for="cognoms">Cognoms:</label>
                    <input type="text" id="cognoms" name="cognoms" placeholder="Doe">
                </div>

                <div>
                    <label for="genere">Gènere:</label>
                    <select id="genere" name="genere">
                        <option value="home">Home</option>
                        <option value="dona">Dona</option>
                        <option value="altre">Altre</option>
                        <option value="no-dir-ho">Prefereixo no dir-ho</option>
                    </select>

                    <label for="cognoms">Mòbil</label>
                    <input type="tel" id="mobil" name="cognoms" placeholder="+34 112112112">
                </div>

            </div>
            <!-- Curriculum -->
            <div id="curriculum">
                <div>
                    <ul>
                        <li>
                            <i><a>Linkedin</a></i>
                        </li>
                        <li>
                            <i><a>Portafoli Personal</a></i>
                        </li>
                        <li>
                            <i><a>Curriculum Online</a></i>
                        </li>
                    </ul>
                </div>
                <button>Descarregar Curriculum PDF</button>
            </div>
            <!-- Otros Datos -->
            <div id="otrosDatos">
                <div>
                    <span>DNI/NIE: </span><span>A</span>
                    <span>Targeta Sanitària: </span><span>A</span>
                    <span>Número Seguretat Social </span><span>A</span> 
                </div>
            </div>

            <button>Editar Perfil</button>
        </main>
    </body>
</html>
