<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>El meu Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div id="container inicio">
                <!-- Anuncios -->
                <div class="row my-5">
                    <div class="col-md-6">
                        <div class="card py-5 mx-1 mt-5 row RowVerticalScroll" id="anuncis">
                            <h1>Anuncis</h1>
                            <div class="card mt-5 col-lg-12 p-5 noticia" th:each="anuncio : ${anuncios}" th:if="${anuncio.rol.nom == 'alumne'}">
                                <h3 th:text="${anuncio.titulo}"></h3>
                                <p th:text="${anuncio.descripcion}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 maxHeightScroll">
                        <!-- Nuevas Ofertas -->
                        <div class="py-5 card mx-1 mt-5 row RowVerticalScroll" id="nuevasOfertas">
                            <h1>Noves Ofertes</h1>
                            <div class="card mt-5 p-5 p-5 col-lg-12 oferta" th:each="oferta : ${ofertas}">
                                <h3 th:text="${oferta.tituloOferta}"></h3>
                                <p th:text="${oferta.descripcionOferta}"></p>
                                <div class="separacionBetween marginBottom">
                                    <span th:text="${oferta.empresa.municipio}"></span>
                                    <span th:text="${oferta.empresa.nombreEmpresa}"></span>
                                </div>
                                <a class="boton" th:href="@{/alumne/veureOfertaAlumne/}+${oferta.id}">Més informació</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </body>
</html>
