<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    </style>
    <script src=""></script>
    <body>
        <div style="display: flex;" class="">
            <div class="col-md-5 card p-5 mx-md-5 my-5">
                <div>
                    <div class="card-title">
                        <div>
                            <div>
                                <div>
                                    <strong><h1 th:text="${empresa.nombreEmpresa}">Institut Nicolau Copernic</h1></strong>  
                                </div>
                            </div>
                        </div>
                        <div>
                            <strong><h5 th:text="${empresa.descripcionEmpresa}">Centre Educatiu</h5></strong>
                        </div>
                    </div>
                    <hr/>
                    <div>
                        <strong><h3>Dades de Contacte</h3></strong>
                    </div>
                    <div>
                        <p>Direccio: <span th:text="${empresa.direccion}"></span></p>
                    </div>
                    <div>
                        <p>Codi Postal: <span th:text="${empresa.codPostal}"></span></p>
                    </div>
                    <div>
                        <p>Municipi: <span th:text="${empresa.municipio}"></span></p>
                    </div>
                    <div>
                        <p>Correu de Contacte: <span th:text="${empresa.correoContacto}"></span></p>
                    </div>
                    <div>
                        <p>Pagina web: <a target="_blank" th:href="${empresa.webEmpresa}" th:text="${empresa.webEmpresa}"></a></p>
                    </div>
                    <div>
                        <p>Telefon de l'empresa: <span th:text="${empresa.movilEmpresa}"></span></p>
                    </div>
                    <div>       
                        <input type="hidden" name="id" th:field="${empresa.id}"/>

                    </div>
                </div>
            </div>
            <div class="col-md-5 mx-md-5 my-5">
                <div class="card p-5">
                    <div>
                        <strong><h1>Responsable</h1></strong>
                    </div>
                    <div>
                        <span>Nom: </span><span th:text="${empresa.nombre}">John</span>
                    </div>
                    <div>
                        <span>Cognoms: </span><span th:text="${empresa.apellidos}">Doe</span>
                    </div>
                    <div>
                        <span>Telèfon de Contacte: </span><span th:text="${empresa.movil}">655719719</span>
                    </div> 
                </div>

            </div>

        </div>

    </body>
</html>