<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div>
            <div class="container">
                <div class="row gx-0">
                    <div class="col-md-9 my-3 mx-md-3 searchbar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="search-input" name="search-input" placeholder="Buscar...">
                        <button class="boton">Buscar</button>
                    </div>
                <div class="custom-select col my-3 mx-md-3 searchbarselect align-self-center">
                    <select id="sort-select" name="sort-select">
                        <option value="0">Ordenar Per:</option>
                        <option value="titulo">Título</option>
                        <option value="municipio">Municipio</option>
                        <option value="empresa">Empresa</option>
                    </select>
                </div>
                </div>

            </div>


        </div>

        <div class="container veroferta">
            <div class="row">
                <div class="col-lg-3 card p-5 mx-3 my-3 ofertaCard" th:each="oferta : ${ofertas}">
                    <h2 th:text="${oferta.tituloOferta}"></h2>
                    <p th:text="${oferta.descripcionOferta}"></p>
                    <div class="separacionBetween">
                        <p th:text="${oferta.empresa.nombreEmpresa}"></p>
                        <p th:text="${oferta.empresa.municipio}"></p>
                    </div>
                    <a class="boton" th:href="@{/alumne/veureOfertaAlumne/}+${oferta.id}">Més informació</a>
                </div>
            </div>


        </div>


    </body>
</html>