<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>El meu Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <!-- Datos Perfil -->
            <div id="perfil">
                <img th:src="${alumno.avatarLink}" alt="Foto Perfil"/>
                <p th:text="${alumno.nombre}"></p>
                <p th:text="${alumno.apellidos}"></p>
                <p th:text="${alumno.username}"></p>
                <p th:text="${alumno.direccion}"></p>
                <p th:text="${alumno.movil}"></p>
                <p th:text="${alumno.sexoDesc}"></p>
            </div>
            <!-- Curriculum -->
            <div id="curriculum">
                <div>
                    <ul>
                        <li>
                            <a th:href="${alumno.linkedin}">Linkedin</a>
                        </li>
                        <li>
                            <a th:href="${alumno.portafoliPersonal}">Portafoli Personal</a>
                        </li>
                        <li>
                            <a th:href="${alumno.curriculumOnline}">Curriculum Online</a>
                        </li>
                    </ul>
                </div>
                <button>Descarregar Curriculum PDF</button>
            </div>
            <!-- Otros Datos -->
            <div id="otrosDatos">
                <div>
                    <span>DNI/NIE: </span><span th:text="${alumno.dni}"></span>
                    <span>Targeta Sanitària: </span><span th:text="${alumno.tarjetaSanitaria}"></span>
                    <span>Número Seguretat Social </span><span th:text="${alumno.SegSocial}"></span> 
                </div>
            </div>

            <a href="/editarPerfilAlumne">Editar Perfil</a>
        </main>
    </body>
</html>
